.root {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 40%;
    max-width: max-content;

    height: 50vh;

    background-color: #ffffff;
    h1 {
      font-size: xx-large;
      justify-self: start;
      background: #ffffff !important;
    }
    .block {
      display: flex;
      flex-direction: row;
      width: 90%;
      background: #ffffff !important;
      margin: 20px;
      div {
        padding: 5px;
        h2 {
          display: flex;
          font-size: 25px;
          background: #ffffff;
          &.gray {
            color: gray;
          }
        }
        &.left {
          width: calc(50%);
          align-self: start;
          background: #ffffff;
        }
        &.right {
          width: calc(50%);

          align-self: right;
          background: #ffffff;
        }
      }
    }
 
    button {
      --c: #229091; /* the color*/
      color: #3b5983;
      box-shadow: 0 0 0 0.1em inset var(--c);
      --_g: linear-gradient(var(--c) 0 0) no-repeat;
      background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
      background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
      outline-offset: 0.1em;
      transition: background-size 0.4s, background-position 0s 0.4s;
    }
    button:hover {
      --_p: 100%;
      transition: background-position 0.4s, background-size 0s;
    }
    button:active {
      box-shadow: 0 0 9e9Q inset #0009;
      background-color: var(--c);
      color: #fff;
    }
    button {
      font-family: system-ui, sans-serif;
      font-size: 30px;
      text-transform: uppercase;
      margin: 15px 15px;
      cursor: pointer;
      padding: 0.1em 0.6em;
      border: none;
    }
  }
}

.hide {
  display: none;
}